<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render "shared/light_section", name: @taxon.name %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render "taxonomies", taxonomies: @taxonomies %>
          <%= render "color_search" %>
          <%= render "size_search" %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render "filter_area" %>
          <div class="row">
            <%= render partial: "product", collection: @products %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- LIGHT SECTION -->
  <%= render "brand_light_section" %>
</div>
