<%= provide(:title, @product.name) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render "shared/light_section", name: @product.name %>
  <!-- MAIN CONTENT SECTION -->
  <%= render "main_content", product: @product %>
  <div class="container">
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <%= render partial: "related_product", collection: @related_products %>
    </div>
  </div>
</div>
